body{
    Font-size: 46px;
}
.header {
    background: green;
}
.nav{
    background: pink;
}
.main {
    border: #000 1px solid;
    float: left;
    width: 500px;

}
.section {
    background: yellow;
}
.article{
    background: green;

}
.aside {
    border: #000 1px solid;
    float: left;
    width: 300px;
}

.footer{
    clear: both;
}
img {
    max-width: 100%;
    height: auto;

}
.article-2 {
    background-image: url("http://cdn-smg.wayfresh.co.uk/playhouse-whitley-bay/fw_20160129101134_520.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;


}

